html, body {
  height:100%;
}

.btn-limpar {
  margin-left: 6px;
}

.container-background {
  background-color: #eee;
}

.container-conteudo {
  margin-top: 15px;
}

.editor {
  border: 1px solid;
  border-color: #999;
  border-radius: 5px;
  min-width: 250px;
  min-height: 100%;
  margin-bottom: 50px;
}
