html, body {
  height:100%;
}

.btn-limpar {
  margin-left: 6px;
}

.container-background {
  background-color: #eee;
}

.container-conteudo {
  margin-top: 15px;
}

.editor {
  border: 1px solid;
  border-color: #999;
  border-radius: 5px;
  min-width: 250px;
  min-height: 100%;
  margin-bottom: 50px;
}

.loading-modal-lg .modal-dialog{
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.loading-modal-lg .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
}

/********************** SPINNER **********************/
.custom-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  cursor: wait;
  background-color: rgba(0,0,0,0.6);
  visibility: hidden;
}

.spinner-size {
  width: 5rem;
  height: 5rem;
}
