html, body {
    height:100%;
}

.container-background {
    background-color: #fff;
}

.editor {
    border: 1px solid;
    border-color: #000;
    border-radius: 5px;
    min-width: 250px;
    min-height: 100%;
    margin-bottom: 50px;
}
